:root {
    --bg-color: #ECF2FF;
    --text-color: #2B283A;
    --title-color: #4A4E74;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global */

body {
    background: var(--bg-color);
    font-family: sans-serif;
    color: var(--text-color);
}

main {
    width: 90%;
    margin: 0 auto;
}

/* Header */

h1,
h2 {
    font-family: "Bubblegum Sans";
    text-align: center;
    margin: 20px;
    padding: 20px 20px 0 20px;
}

h1 {
    color: var(--title-color);
    font-size: 3em;
    text-align: center;
}

p {
    text-align: center;
    margin-top: -10px;
}

/* List */

ul.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 70px;
}

ul.grid li {
    list-style: none;
    font-size: 3em;
    justify-self: center;
}

ol {
    margin-left: 50px;
}

ol li {
    padding: 2px;
}

h3 {
    margin: 20px;
}

/* Animations */

.excited:hover {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: jump;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes jump {
    0% { transform: scale(1, 1) translateY(0); }
    10% { transform: scale(1.1, 0.9) translateY(0); }
    30% { transform: scale(0.9, 1.1) translateY(-100px); }
    50% { transform: scale(1.05, 0.95) translateY(0); }
    57% { transform: scale(1, 1) translateY(-7px); }
    64% { transform: scale(1, 1) translateY(0); }
    100% { transform: scale(1, 1) translateY(0); }
}

.scared:hover {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
    10%,
    90% { transform: translateX(-1px); }
    20%,
    80% { transform: translateX(2px); }
    30%,
    50%,
    70% { transform: translateX(-4px); }
    40%,
    60% { transform: translateX(4px); }
}

/* Toggle */

.toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--bg-color);
}

.hidden {
    display: none;
}